<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit Category</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <h1>Edit Category</h1>

    <form class="FormPage" th:action="@{|/categories/${category.id}/edit|}" method="post" th:object="${category}">
        <table>
            <tr>
                <td><label for="name">Name:</label></td>
                <td><input type="text" th:field="*{name}" id="name" required /></td>
            </tr>
            <tr>
                <td><label for="description">Description:</label></td>
                <td><input type="text" th:field="*{description}" id="description" required /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Update</button>
                </td>
            </tr>
        </table>
        <div th:if="${errorMessage}" class="alert">
            <p th:text="${errorMessage}"></p>
        </div>
    </form>
    </body>
</html>